MODEL_NAME=Gustking/wav2vec2-large-xlsr-deepfake-audio-classification
CONFIDENCE_THRESHOLD=0.6
MIN_AUDIO_DURATION=3.0
MAX_AUDIO_DURATION=5.0
SAMPLE_RATE=16000
MAX_CLIPS=10


USE_BEDROCK=false
AWS_REGION=us-east-1
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20241022-v2:0
